.titlestyle65492 {
	height: 40px; color: rgb(255, 255, 255); line-height: 40px; overflow: hidden; font-size: 18px; text-decoration: none;
}
.summarystyle65492 {
	color: rgb(34, 34, 34); line-height: 150%; font-size: 9pt;
}
.timestyle65351 {
	color: rgb(166, 166, 166); font-size: 12px;
}
.leaderfont65351 {
	line-height: 160%; font-family: 宋体; font-size: 9pt;
}
.morestyle65351 {
	color: rgb(34, 34, 34); font-family: 宋体; font-size: 9pt;
}
.newstitlestyle65351 {
	width: 400px; height: 38px; color: rgb(40, 37, 37); line-height: 38px; overflow: hidden; font-size: 14px;
}
.contentstyle65351 {
	color: rgb(34, 34, 34); font-family: 宋体; font-size: 9pt;
}
.tdunderlinestyle65351 {
	border-bottom-color: rgb(221, 219, 217); border-bottom-width: 1px; border-bottom-style: solid;
}
.winstyle65351 {
	width: 400px;
}
.timestyle65350 {
	color: rgb(166, 166, 166); font-size: 12px;
}
.leaderfont65350 {
	line-height: 160%; font-family: 宋体; font-size: 9pt;
}
.morestyle65350 {
	color: rgb(34, 34, 34); font-family: 宋体; font-size: 9pt;
}
.newstitlestyle65350 {
	width: 400px; height: 38px; color: rgb(40, 37, 37); line-height: 38px; overflow: hidden; font-size: 14px;
}
.contentstyle65350 {
	color: rgb(34, 34, 34); font-family: 宋体; font-size: 9pt;
}
.tdunderlinestyle65350 {
	border-bottom-color: rgb(221, 219, 217); border-bottom-width: 1px; border-bottom-style: solid;
}
.winstyle65350 {
	width: 400px;
}
.etextstyle64997 {
	color: rgb(227, 223, 213); font-size: 14px;
}
.fontstyle64997 {
	color: rgb(227, 223, 213); font-size: 14px;
}
.btextstyle64997 {
	color: rgb(227, 223, 213); font-size: 14px;
}
.etextstyle65203 {
	color: rgb(227, 223, 213); font-size: 14px;
}
.fontstyle65203 {
	color: rgb(227, 223, 213); font-size: 14px;
}
.btextstyle65203 {
	color: rgb(227, 223, 213); font-size: 14px;
}
