#main{
}
#main #leftMenu{
	width: 190px;
	min-height: 4em;
	/* background-color: #F1F1F1; */
	float: left;
}
#main #leftMenu .menuTitle{
	
height: 45px;
background: url(img/sort.gif)  no-repeat;
}
#main #leftMenu .searchTitle{
	
height: 45px;
background: url(img/search.gif)  no-repeat;
}
#main #leftMenu .searchBox{
	margin: 0 auto;
	text-align: center;
	font-size: 1.2em;
}
#main #leftMenu .menuList{
	width: 190px;
	margin: 0 auto;
}
#main #leftMenu .menuList li{
	line-height: 30px;
	text-align: center;
	border-bottom: 1px dotted rgba(204, 204, 204, 0.71);
	padding: 0.32em 0;
}
#main #leftMenu .menuList:first-child{
	padding-top:2em;
}
#main #leftMenu .menuList li a{
color: #666;
text-decoration: none;
}
#main #leftMenu .menuList li a:visited{
color: #666;
text-decoration: none;
}
#main #leftMenu .menuList li a:hover{
color: red;
text-decoration: underline;
}
#main #rightList{
	width: 959px;
	right: 0;
	min-height: 500px;
	float: left;
	border-left: 1px solid #F1F1F1;
}
#main #rightList #path{
	height: 40px;
	background-color: #F1F1F1;
	line-height: 40px;
	padding-left: 1em;
	color: #696464;
	font-size: 0.6em;
}
#main #rightList #path a{
	color: black;
	text-decoration: none;
}
#main #rightList #listBox{
	padding: 2em;
}
#main #rightList #listBox li{
	height: 30px;
	line-height: 30px;
	list-style-type: circle;
	position: relative;
	border-bottom: 1px dotted #ccc;
	list-style: none;
}
#main #rightList #listBox li a{
	color:#333;
	text-decoration: none;
}
#main #rightList #listBox li .datetime{
	position: absolute;
	color:#666;
	right: 0;
	
}
#main #rightList #pagecode{
	color: #555;
	position: relative;
	padding-left: 40px;
	bottom: -140px;
	font-size: 13px;
}
#main .wrap {
	width: 1150px;
	margin: 0 auto;
	background-color: rgba(218, 218, 218, 0.13);
}

#listBox #info {
	color: #5F5F5F;
	font-size: 0.8em;
	text-align: center;
}

#listBox #title {
	color: #292929;
	text-align:center;
	margin: 0;
	padding: 0.2em;
}